extends dashboard
block content
    mixin
        table
            each item in result
                tr
                    td 
                        a(href="Files/"+item._id style="float: left; font-weight: bold;") #{item.originalname}
                        a(href="DeleteFile/"+item._id style="float: right; font-weight: bold;") Delete
                        //div hi
                       