extends dashboard
block content
    mixin
        table
            each item in result
                tr
                    td 
                        span 
                        a(href="FilesView/"+item._id style="float: left; font-weight: bold;") #{item.originalname}
                        a(href="DeleteFolder/"+item._id style="float: right; font-weight: bold;") Delete Folder