extends layout
.nav
  block nav
      ul.main-menu
        li
          a(href='loginform') Login
        li
          a(href='registerform') Register
  
block content
  h1.title= title
  p(style="color: red;") #{msg}
  block form
