extends layout
nav
  block nav 
      ul(style="float: left;")
        li
          a(href='/') Home
block content
    .any #{msg}
        table
            each item in result
                tr
                    td
                        p #{item.originalname}
                        //a(href="DeleteFolder/"+item._id style="float: right; font-weight: bold;") Delete Folder
                    td.options
                        ul
                            li
                                a(href="/movefileto/"+item._id+"/"+fileid+"/"+folderid) Move
                                
                                

























































































































































































































































































































































































































