extends dashboard
block content
    mixin
        table
            if result.length
              h2(style="float: left;") Folders
            each item in result
                tr
                    td 
                        a(href="FilesView/"+item._id style="float: left; font-weight: bold;") #{item.originalname}
                        a(href="DeleteFolder/"+item._id style="float: right; font-weight: bold;") Delete Folder
        table
            if result1.length
              h2(style="float: left;") Files
            each item in result1
                tr
                    td 
                        a(href="Files/"+item._id style="float: left; font-weight: bold;") #{item.originalname}
                        a(href="DeleteFile/"+item._id style="float: right; font-weight: bold;") Delete File
                        