extends layout
.nav
  block nav 
      ul(style="float: left;")
        li
          a(href='/') Home
block content
    .any #{msg}
        form(action="/sendto/"+id, method="post")
            input(type="text", name="Searchval",id="searchbar" ,placeholder="Enter Username Of The User")
            input(type="text", value=id name="id" style="display: none;")
            input(type="submit", name="Share",id={id} value="Share")
