extends dashboard
block content
    mixin
        table
            each item in result1
                tr
                    td
                        if item.originalname
                            a(href="Files/"+item.filename style="float: left; font-weight: bold;") #{item.originalname}
                            a(href="DeleteFile/"+item.filename+'/'+id style="float: right; font-weight: bold;") Delete