extends layout
.nav
  block nav 
      ul(style="float: left;")
        li
          a(href='/') Home
        li
          a(href='/Folders') Folders
block content
    .any
        table
            each item in result1
                tr
                    td
                        if item.originalname
                            a(href="Files/"+item.filename style="float: left; font-weight: bold;") #{item.originalname}
                            //a(href="DeleteFile/"+item.filename+'/'+id style="float: right; font-weight: bold;") Delete
                    td.options
                        ul
                            li
                                a(href="/Folders") >>
                                ul.submenu
                                    li
                                        a(href="/movefile/"+item.filename+"/"+id style=" font-weight: bold;") Move
                                    li
                                        a(href="/sendfile/"+item.filename+"/"+id style="float: right; font-weight: bold;") Share File
                                    li
                                        a(href="DeleteFile/"+item.filename+'/'+id style="float: right; font-weight: bold;") Delete