body {
  padding: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(10,10,10);
  color: rgb(206, 197, 197);
  font-size: 1.5rem;
}
nav{
 margin-right: 0mm;
  margin-left: 0mm;
  margin-top: 0mm;
}
ul{
  padding-left: 0mm;
  margin-left: 0mm;
  padding-top: 0mm;
  margin-top: 0mm;
}

a {
  padding: 10px;
  color: #00B7FF;
  background-color: rgb(49, 48, 48);
  height: 100px;
}
a:hover{
  color: aqua;
  background-color: rgb(64, 122, 141);
}
input[type="submit"]:hover{
  color: rgb(211, 197, 197);
  background-color: rgb(64, 122, 141);
}
input[type="submit"]{
  color: rgb(32, 31, 31);
  background-color: #00B7FF;
  height: 40px;
  width: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
}
input[type="text"]{
  height: 20px;
  background-color: rgb(214, 206, 206);
}
input[type="search"]{
  height: 40px;
  width: 250px;
  margin: 5px;
  background-color: rgb(214, 206, 206);
}
input[type="password"]{
  height: 20px;
  background-color: rgb(214, 206, 206);
}
input[type="text"]:hover{
  height: 20px;
  background-color: rgb(255, 253, 253);
}
input[type="password"]:hover{
  height: 20px;
  background-color: rgb(255, 255, 255);
}
span{
  color: white;
}
table tr{
  height: 50px;
}
